input[type=submit]:active{
	box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#nav.innertube {

        margin: 15px;
        margin-top: 0;
		background-color:gray;
		width:15%;
		height:100%;
}

#nav {
		position: relative;
        float: left;
        height: 100%;
        width: 230px;
        margin-left: -100%;

}
#nav h3 {
        color:black;
}
#cont{
	position: relative;
	height: 300px;
	width:70%;
	padding-left: 15%;
	padding-right: 15%;

}
#cont2{
	position: absolute;
	width:70%;
	padding-left: 15%;
	padding-right: 15%;

}
#cont3{

	padding-left: 15%;
	padding-right: 15%;

}


#imgp{
	position: absolute;
	height: 300px;
	width:30%;

}
#simgp{
	position:absolute;
	padding-top: 15px;
	padding-left: 30%;
	padding-right: 70%;

}
#infp{
	position:absolute;
	padding-left: 30%;
	height: 600px;
	width:40%;
	text-align:left;
	
}

#gp{
	position: absolute;
	height: 600px;
	width:30%;

}
#sgp{
	position: absolute;
	height: 600px;
	padding-top: 15px;
	padding-left: 30%;
	padding-right: 70%;

}
#infg{
	position: absolute;
	padding-left: 30%;
	height: 600px;
	width:40%;
	text-align:left;
	
}

#sinfg{
	position: absolute;
	height: 600px;
	padding-top: 15px;
	padding-left: 15%;


}

#sinfg table{
	width: 400px;
}

.long{
	width:300px;
}

#lin{
	background: black;
    height: 30px;
	color: white;


	
}
.cent{
	padding-top: 100px;
}

#header {
        background: #ccc;
        height: 100px;
}

#header h1 {
        margin: 0;
        padding-top: 15px;
        color: black;
        
}

body {
        margin:0;
        padding:0;
        font-family: Sans-Serif;
        line-height: 1.5em;
        background-color: black;
        color: white;
		background-image: linear-gradient(black, gray,black);
}

form {
    color:green;
}
#wrapper {
        overflow: hidden;
}
